* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgba(205, 250, 253, 0.3);
  padding-top: 80px;
  text-align: center;
  justify-content: center;
}

header {
  margin: 16px;
  padding: 16px 0;
  background-color: rgba(205, 250, 253, 0.8);
}

.container {
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
}

form {
  padding: 16px 0;
  margin: 16px;
  text-align: center;
  background-color: rgba(205, 250, 253, 0.8);
}

input,
button {
  padding: 8px;
}

button {
  background-color: #219c3c;
  border: none;
  cursor: pointer;
}

#botao-zerar {
  background-color: red;
}

ul {
  display: block;
  flex-wrap: wrap;
}

ul li {
  padding: 8px;
  list-style: none;
  /*text-decoration: line-through;*/
}
