* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgba(226, 241, 168, 0.3);
}

.container {
  background-color: rgb(133, 153, 51);
  width: 500px;
  padding: 20px;
  margin: 100px auto;
  border-radius: 5px;
}

h1 {
  padding-bottom: 16px;
}

input {
  border: none;
  width: 300px;
  height: 25px;
  padding-left: 10px;
  border-radius: 5px;
  padding: 0 auto;
  font-size: 16px;
}

button {
  border: none;
  cursor: pointer;
  background-color: rgb(22, 88, 66);
  height: 25px;
  font-size: 17px;
  border-radius: 5px;
  padding: 0 auto;
  width: 70px;
  color: #fff;
  margin-top: 8px;
}

#botao-zerar {
  width: 120px;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.5;
}

ul {
  list-style: none;
  margin-top: 25px;
  width: 100%;
  flex-wrap: wrap;
}

li {
  background-color: rgb(237, 241, 220);
  height: 40px;
  margin-right: 8px;
  font-size: 16px;
  display: flex;
  padding: 0 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  cursor: pointer;
  justify-content: space-between;
}

a {
  margin-right: 8px;
  font-size: 16px;
  display: flex;
  padding: 0 15px;
  margin-bottom: 15px;
}

.seletor {
  text-decoration: line-through;
}
